
.custom-segment .ui.header {
    text-align: center!important;
}
.custom-segment div .item {
    text-align: center!important;
}

.custom-segment div .item .header {
    text-align: center!important;
}

