@font-face {
    font-family: 'iransan';
    src: url("https://cdn.time.ir/Fonts/IRANSansLight.woff");
}
/*https://cdn.time.ir/Fonts/IRANSansBold.woff*/
@font-face {
    font-family: 'iransan';
    src: url("https://cdn.time.ir/Fonts/IRANSansBold.woff");
    font-weight: bold;
}
* {
    font-family: 'iransan',Arial, Helvetica, sans-serif;
}

.ui * {
    direction: rtl;
    text-align: right;
}


.form-input__rtl input {
    direction: rtl !important;
    text-align: right !important;
}

input {

    direction: rtl !important;
    text-align: right !important;
}



.ui.vertical.menu .active.item {
    background-color: #3dabff !important;
    border-radius: 0!important;
}


.ui.menu .ui.dropdown .menu>.item .icon:not(.dropdown) {
    margin: 0 0.8rem!important;
}


.red-header .ui.modal>.header {
    background-color: red;
    color: white;
}