
.ui * {
    direction: rtl;
    text-align: right;
}

.form-input__rtl input {
    direction: inherit !important;
    text-align: inherit !important;
}

input {
    direction: inherit !important;
    text-align: inherit !important;

}