#page {
    background-color:  #FFFFFF;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: fixed ;
}
#blue_segment {
    background-color: #47ccde;
    height: 30vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: fixed ;
}